*, *::before, *::after {
    box-sizing: border-box;
}

:root{
    --hue-neutral: 0;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
p {
    font-size: 26px;
    color: azure;
    text-align: center;
    font-weight: bold;
}

.container{
    width: 800px;
    max-width: 80%;
    background-color: dodgerblue;
    border-radius: 5px;
    padding: 10px;
}

.messages{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 80%;
    background-color: azure;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    float: left;
}

.kolo{
    width: 35px;
    height: 35px;
    margin-left: 12px;
    margin-bottom: 5px;
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue),100%,90%);
    background-color: hsl(var(--hue),100%,100%);
    border-radius: 5px;
    outline: none;
    float: right;
}

.question{
    height: 35px;
}

.end{
    width: 800px;
    max-width: 80%;
    background-color: dodgerblue;
    border-radius: 5px;
    padding: 10px;
}

.endF{
    background-color: firebrick;
}

.endW{
    background-color: green;
}

.img-milionerzy{
    width: 780px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue),100%,90%);
    background-color: hsl(var(--hue),100%,100%);
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.btn:hover,.kolo:hover{
    border-color: black;
}

.btn.correct{
    --hue: var(--hue-correct);
    background-color: hsl(var(--hue),100%,50%);
}

.btn.wrong,.kolo.wrong{
    --hue: var(--hue-wrong);
    background-color: hsl(var(--hue),100%,50%);
}

.btn.hint{
    --hue: var(--hue-correct);
    background-color: hsl(var(--hue),50%,75%);
}

.start-btn{
    font-weight: bold;
    padding: 10px 20px;
}

.hide{
    display: none;
}

.already-answered,.used{
    pointer-events: none;
}

button{
    padding: 0px;
}